include	.bzrignore
include .gitignore
include .pyflymakerc
include CHANGES.txt
include GPL-V3.0.txt
include LICENSE.txt
include MANIFEST
include MANIFEST.in
include PKG-INFO
include PyOpenGLng/GlApi/*.pickle
include PyOpenGLng/GlApi/*.xml
include README.*
include TODO.rst
include make-release.sh
include pylintrc.ini
include setenv.sh start.sh
include setup_data.py
recursive-include bin *
recursive-include doc *
recursive-include gh-pages *
recursive-include glx-tools *.c Makefile
recursive-include share *
recursive-include spec *.spec *.desktop
recursive-include tools *
recursive-include unit-test *.py
recursive-include examples *.py *.glsl *.ttf
prune build
prune doc/sphinx/build
